# Build outputs
RevivalMod-Core/bin/
RevivalMod-Core/obj/
RevivalMod-Fika/bin/
RevivalMod-Fika/obj/
RevivalMod-Server/build/
RevivalMod-Server/node_modules/
RevivalMod-Server/types/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
.idea/.idea.RevivalMod/.idea/.name
.idea/.idea.RevivalMod/.idea/encodings.xml
.idea/.idea.RevivalMod/.idea/indexLayout.xml
.idea/.idea.RevivalMod/.idea/vcs.xml
.idea/.idea.RevivalMod/.idea/.gitignore

# Build configuration and scripts with local paths - DO NOT COMMIT
build-config.json
build.ps1